Host *.astro.unige.ch
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking=no

Host repo01.astro.unige.ch
  Hostname repo01.astro.unige.ch
  ProxyCommand ssh -F "${SCRIPT_DIR}/ssh_config" -oIdentityFile="${SCRIPT_DIR}/key" -qW %h:%p ecld_dev@login01.astro.unige.ch

